<div class="post-page" *ngIf="post">

    <app-post-node
        [post]="post">
    </app-post-node>

    <div class="comment-box">
        <textarea [(ngModel)]="newComment" placeholder="Escreva um comentário..."></textarea>
        <button (click)="submitComment()">Enviar</button>
    </div>

    <div class="comments">
        <app-comment-node
            *ngFor="let comment of comments"
            [comment]="comment"
            [currentUserID]="currentUserID">
        </app-comment-node>
    </div>

</div>