<div class="page-center">
  <div class="card">
    <h2>Criar Conta</h2>

    <input type="text" placeholder="Username" [(ngModel)]="username"/>

    <input type="email" placeholder="Email" [(ngModel)]="email"/>

    <input type="password" placeholder="Senha" [(ngModel)]="password" (ngModelChange)="checkPasswordStrength()"/>

    <input type="password" placeholder="Confirmar senha" [(ngModel)]="confirmPassword"/>

    <div class="password-strength" *ngIf="password">
        <div
            class="strength-bar"
            [style.width.%]="passwordStrength * 20"
            [style.background]="passwordColor"
        ></div>

        <span [style.color]="passwordColor">
            {{ passwordLabel }}
        </span>
    </div>

    <button type="button" (click)="onRegister()">Registrar</button>

    <p class="link-text">
      Já tem conta?
      <a routerLink="/login">Entrar</a>
    </p>

    <p class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </p>
  </div>
</div>