<div class="overlay" (click)="closeModal()">
    <div class="modal" (click)="$event.stopPropagation()">
        <h2>Qual tópico desejas discutir?</h2>

        <textarea name="title" id="title"
            [(ngModel)]="title"
            placeholder="Título da Postagem...">
        </textarea>

        <textarea name="description" id="description" 
            [(ngModel)]="description" 
            placeholder="Descrição (Opcional)...">
        </textarea>

        <input 
            type="file"
            (change)="onFileSelected($event)"
            multiple
            accept="image/*, video/*"
        />

        <div class="preview" *ngIf="selectedFiles.length > 0">
            <div *ngFor="let file of selectedFiles; let i = index">
                <img *ngIf="isImage(file)" [src]="previewUrls[i]" width="100"/>
                <video *ngIf="isVideo(file)" [src]="previewUrls[i]" width="100" controls></video>
            </div>
        </div>

        <div class="actions">
            <button (click)="closeModal()">Cancelar</button>
            <button (click)="submitPost()">Publicar</button>
        </div>

    </div>
</div>