<div class="comment">
    <div class="comment-body">

        <div class="comment-header">
            <div class="avatar"></div>

            <div class="meta">
                <span class="author">{{ comment.author.nickname }}</span>
                <span class="time">{{ comment.createdAt | timeAgo }}</span>
            </div>
        </div>

        <ng-container *ngIf="comment.status !== 'DELETED'; else deletedTpl">
            <p class="content" *ngIf="!editing">
                {{ comment.content }}
            </p>

            <div class="edit-box" *ngIf="editing">
                <textarea [(ngModel)]="editText"></textarea>

                <div class="edit-actions">
                    <button (click)="confirmEdit()">Salvar</button>
                    <button (click)="cancelEdit()">Cancelar</button>
                </div>
            </div>
        </ng-container>

        <ng-template #deletedTpl>
            <p class="deleted">Comentário deletado</p>
        </ng-template>
        
        <p class="status" *ngIf="comment.status === 'EDITED'">(editado)</p>        

        <div class="actions" *ngIf="comment.status !== 'DELETED'">
            <button class="reply-btn" (click)="showReply = !showReply">
                Responder
            </button>

            <div class="owner-actions" *ngIf="currentUserID === comment.author.id">
                <button class="edit-btn" (click)="startEdit()" *ngIf="!editing">✏️ Editar</button>
                <button class="delete-btn" (click)="deleteComment()" *ngIf="!editing">🗑 Excluir</button>
            </div>
        </div>        

    </div>

    <div class="reply-box" *ngIf="showReply && comment.status !== 'DELETED'">
        <textarea [(ngModel)]="replyText"></textarea>
        <button (click)="sendReply()">Enviar</button>
    </div>

    <div class="children" *ngIf="comment.children?.length">
        <app-comment-node 
            *ngFor="let child of comment.children"
            [comment]="child"
            [currentUserID]="currentUserID">
        </app-comment-node>
    </div>
</div>