<div class="comment">
    <div class="comment-body">
        <p class="content">{{ comment.content }}</p>

        <button class="reply-btn" (click)="showReply = !showReply">
            Responder
        </button>
    </div>

    <div class="reply-box" *ngIf="showReply">
        <textarea [(ngModel)]="replyText" placeholder="Escreva sua resposta..."></textarea>
        <button (click)="sendReply()">Enviar</button>
    </div>

    <div class="children" *ngIf="comment.children?.length">
        <app-comment-node 
            *ngFor="let child of comment.children" 
            [comment]="child" 
            (reply)="reply.emit($event)">
        </app-comment-node>
    </div>
</div>